body {
  background: rgb(52, 104, 148);
}

#container-header {
  max-width: 100%;
  padding: 0;
}

#container-header #header {
  background: #181D27;
  color: white;
}

#header-shortcuts ul li a {
  color: white;
}

#nav, #main-navigation {
  background: #466060;
}

#nav {
  padding-left: 0;
}

#nav #main-navigation .nav-top-item.selected {
  background: #181D27;
}

.page-content-header img {
  -webkit-animation: rotate-center 3s linear infinite both;
          animation: rotate-center 3s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
